<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Demo</title>
  </head>
  <body>
    <table id="table">
      <thead>
        <tr>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
